<footer>
  <div class="payment ">
    <div class="col-3 col-offset-9">
      <h5>Payment Accepted</h5>
      <img src="assets/images/american.png" alt="">
      <img src="assets/images/visa.png" alt="">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Our services</a></li>
          <li><a href="#">Privacy policy</a></li>
          <li><a href="#">Affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Returns</a></li>
          <li><a href="#">Order status</a></li>
          <li><a href="#">Payment options</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>online shop</h4>
        <ul>
          <li><a href="#">Wings</a></li>
          <li><a href="#">Crown</a></li>
          <li><a href="#">Hair hoop</a></li>
          <li><a href="#">Hair clips</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/"><i class="pi pi-facebook"></i></a>
          <a href="https://www.twitter.com/"><i class="pi pi-twitter"></i></a>
          <a href="https://www.instagram.com/"><i class="pi pi-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <h4>All rights reserved. KruhitkaLove &copy;, Ukraine 2022</h4>
  </div>
</footer>
